:root {
  --color-blue-dark: rgb(26, 0, 110);
  --color-blue-middle: rgb(42, 2, 191);
  --color-blue-light: rgb(125, 183, 248);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link {
  padding: 4px;
  transition: color 0.15s ease-in-out;
}

.link a {
  text-decoration: none;
}

/* .nav-item a:focus {
  color: orange !important;
} */

.link--active {
  color: red;
}

.link--unactive {
  text-decoration: none;
  color: white;
}

/* Second Navbar */
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: no-wrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
